@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --slate-100: #f1f5f9;
  --slate-400: #94a3b8;
  --slate-600: #475569;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--slate-400);
  border-radius: 4px;
}

.gradient-outline {
  box-shadow: 0px 0px 5px 0px var(--slate-400);
}

.hover-outline:hover {
  box-shadow: 0px 0px 5px 0px var(--slate-400);
}

/* Input Style */

.input {
  width: 100%;
  padding: 8px;

  color: var(--slate-100);
  font-family: monospace;
  font-size: 16px;
  background-color: var(--slate-900);

  outline: none;
  border: 2px solid var(--slate-600);
  border-radius: 8px;

  transition: all 200ms ease-out;
}

.input:disabled {
  border-color: var(--slate-800);
}

.input::placeholder {
  color: var(--slate-600);
}

.input:disabled::placeholder {
  color: var(--slate-800);
}
