@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 23, 23, 23;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(72, 72, 72);
  border-radius: 4px;
}

.gradient-outline {
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.6);
}

.hover-outline:hover {
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.6);
}
